@font-face {
  font-family: "Gotham Rounded Medium";
  font-style: normal;
  src: url("../fonts/GothamRoundedMedium.ttf");
}
@font-face {
  font-family: "Gotham Rounded Light";
  font-style: normal;
  src: url("../fonts/GothamRoundedLight.otf");
}
/* line 10, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -45px;
}
/* line 18, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 45px;
}

/* line 20, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 45px;
}

/* line 7, ../sass/style.scss */
body {
  background-color: #EDEFF0;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
}

/* line 17, ../sass/style.scss */
a {
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
  color: #7B8B8E;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 70, ../sass/_mixins.scss */
a:hover, a:active, a:focus {
  color: #7B8B8E;
  outline: none;
}

/* line 21, ../sass/style.scss */
.zeroPadding {
  padding: 0px !important;
}

/* line 25, ../sass/style.scss */
#header {
  background-color: #384047;
  padding: 4px 0px;
}
/* line 29, ../sass/style.scss */
#header a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
  color: #7B8B8E;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 40px;
  color: #7B8B8E;
  font-weight: 500;
}
/* line 70, ../sass/_mixins.scss */
#header a:hover, #header a:active, #header a:focus {
  color: white;
  outline: none;
}
/* line 36, ../sass/style.scss */
#header a object {
  display: inline-block;
  float: left;
  max-height: 60px;
}
/* line 42, ../sass/style.scss */
#header a h1 {
  display: inline-block;
  font-size: 24px;
}
/* line 48, ../sass/style.scss */
#header svg {
  max-height: 50px;
  max-width: 200px;
  margin: 5px 3px 0 0;
}
/* line 53, ../sass/style.scss */
#header svg #logo {
  width: 45px;
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 24px;
  color: #2D3339;
  font-weight: 500;
}

/* line 60, ../sass/style.scss */
.loader {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 65, ../sass/style.scss */
.centerBox {
  background-color: white;
  display: block;
  padding: 35px 15px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin: 50px auto;
}
/* line 69, ../sass/style.scss */
.centerBox h2 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #2D3339;
  font-weight: 500;
}
/* line 76, ../sass/style.scss */
.centerBox p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #7B8B8E;
  font-weight: 500;
}
/* line 82, ../sass/style.scss */
.centerBox .error {
  font-family: "Gotham Rounded Light","Gotham Rounded Medium",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #E15258;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 90, ../sass/style.scss */
.centerBox input {
  border: 2px solid #EDEFF0;
  color: #384047;
  box-shadow: none;
  height: 46px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: "Gotham Rounded Light","Gotham Rounded Medium",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #384047;
  font-weight: 400;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 116, ../sass/_mixins.scss */
.centerBox input:hover, .centerBox input:active, .centerBox input:focus {
  border-color: #d1d6d9;
  outline: none;
  box-shadow: none;
}
/* line 94, ../sass/style.scss */
.centerBox button {
  border: 2px solid #EDEFF0;
  color: #384047;
  background-color: white;
  height: 46px;
  box-shadow: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #384047;
  font-weight: 500;
  -moz-transition-property: #EDEFF0;
  -o-transition-property: #EDEFF0;
  -webkit-transition-property: #EDEFF0;
  transition-property: #EDEFF0;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 133, ../sass/_mixins.scss */
.centerBox button:hover, .centerBox button:active, .centerBox button:focus {
  border-color: #d1d6d9;
  outline: none;
  box-shadow: none;
  background-color: white;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* line 94, ../sass/style.scss */
  .centerBox button {
    margin-top: 15px;
  }
}

/* line 105, ../sass/style.scss */
.productBox {
  margin-bottom: 30px;
  background-color: white;
  display: block;
  padding: 0px 0px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media only screen and (min-width: 430px) and (max-width: 767px) {
  /* line 105, ../sass/style.scss */
  .productBox {
    max-width: 400px;
    position: relative;
    margin: 15px auto;
  }
}
/* line 113, ../sass/style.scss */
.productBox .boxHeader {
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
  background-color: #4E91CE;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
  /* line 113, ../sass/style.scss */
  .productBox .boxHeader {
    padding: 0px 20px;
  }
}
/* line 125, ../sass/style.scss */
.productBox .boxHeader span {
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 400;
}
/* line 130, ../sass/style.scss */
.productBox .boxContainer {
  padding: 25px 30px;
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
  /* line 130, ../sass/style.scss */
  .productBox .boxContainer {
    padding: 25px 20px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 136, ../sass/style.scss */
  .productBox .boxContainer .aboveHR {
    height: 150px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  /* line 141, ../sass/style.scss */
  .productBox .boxContainer .aboveHR .aboveMobile {
    height: 130px;
  }
}
/* line 150, ../sass/style.scss */
.productBox .imgContainer {
  float: left;
  padding-right: 15px;
  height: 150px;
}
/* line 155, ../sass/style.scss */
.productBox .imgContainer img {
  max-width: 150px;
}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  /* line 155, ../sass/style.scss */
  .productBox .imgContainer img {
    max-width: 120px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  /* line 150, ../sass/style.scss */
  .productBox .imgContainer {
    height: 120px;
  }
}
/* line 168, ../sass/style.scss */
.productBox h4 {
  margin-top: 0px !important;
  overflow: hidden;
}
/* line 173, ../sass/style.scss */
.productBox .name {
  line-height: 1.5;
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #7B8B8E;
  font-weight: 400;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 173, ../sass/style.scss */
  .productBox .name {
    font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #7B8B8E;
    font-weight: 400;
  }
}
@media only screen and (min-width: 0px) and (max-width: 399px) {
  /* line 173, ../sass/style.scss */
  .productBox .name {
    font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #7B8B8E;
    font-weight: 400;
  }
}
@media only screen and (min-width: 400px) and (max-width: 549px) {
  /* line 173, ../sass/style.scss */
  .productBox .name {
    font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
    font-size: 13.5px;
    color: #7B8B8E;
    font-weight: 400;
  }
}
/* line 188, ../sass/style.scss */
.productBox .price {
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #4E91CE;
  font-weight: 400;
}
/* line 193, ../sass/style.scss */
.productBox .description {
  line-height: 1.4;
  margin-bottom: 10px;
  height: 55px;
  overflow: hidden;
  position: relative;
  font-family: "Gotham Rounded Light","Gotham Rounded Medium",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #7B8B8E;
  font-weight: 400;
}
/* line 151, ../sass/_mixins.scss */
.productBox .description:after {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16px;
  width: 80px;
  content: "";
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff 60%, #fff);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 60%, #ffffff);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 193, ../sass/style.scss */
  .productBox .description {
    font-family: "Gotham Rounded Light","Gotham Rounded Medium",Helvetica,Arial,sans-serif;
    font-size: 12.5px;
    color: #7B8B8E;
    font-weight: 400;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 399px) {
  /* line 193, ../sass/style.scss */
  .productBox .description {
    font-family: "Gotham Rounded Light","Gotham Rounded Medium",Helvetica,Arial,sans-serif;
    font-size: 12.5px;
    color: #7B8B8E;
    font-weight: 400;
    margin-top: 15px;
  }
}
/* line 215, ../sass/style.scss */
.productBox hr {
  margin-top: 20px !important;
  margin-bottom: 15px !important;
}
/* line 220, ../sass/style.scss */
.productBox .category {
  background-color: #EDEFF0;
  padding: 7px 8px;
  margin-right: 7px;
  margin-top: 7px;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: "Gotham Rounded Light","Gotham Rounded Medium",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #2D3339;
  font-weight: 400;
}
/* line 230, ../sass/style.scss */
.productBox .readMore {
  border: 0px solid #4E91CE;
  color: white;
  background-color: #4E91CE;
  height: 46px;
  box-shadow: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 500;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  border-bottom: 2px solid #3378b6;
  height: 40px;
  line-height: 2;
}
/* line 133, ../sass/_mixins.scss */
.productBox .readMore:hover, .productBox .readMore:active, .productBox .readMore:focus {
  border-color: #3378b6;
  outline: none;
  box-shadow: none;
  background-color: #4E91CE;
}
/* line 237, ../sass/style.scss */
.productBox .readMore:hover, .productBox .readMore:focus, .productBox .readMore:active {
  background-color: #3378b6;
  border-bottom: 2px solid #275d8f;
}

/* line 245, ../sass/style.scss */
#allProducts {
  margin-bottom: 20px;
}

/* line 249, ../sass/style.scss */
#root {
  padding-bottom: 50px;
}

/* line 253, ../sass/style.scss */
#footerContainer {
  font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #7B8B8E;
  font-weight: 400;
  background-color: #384047;
  padding: 0px 15px;
  height: 50px;
  line-height: 50px;
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
  /* line 253, ../sass/style.scss */
  #footerContainer {
    padding: 0px;
    font-family: "Gotham Rounded Medium","Gotham Rounded Light",Helvetica,Arial,sans-serif;
    font-size: 13.5px;
    color: #7B8B8E;
    font-weight: 400;
  }
}
/* line 265, ../sass/style.scss */
#footerContainer a {
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
  color: #7B8B8E;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  display: inline-block;
}
/* line 70, ../sass/_mixins.scss */
#footerContainer a:hover, #footerContainer a:active, #footerContainer a:focus {
  color: white;
  outline: none;
}
/* line 270, ../sass/style.scss */
#footerContainer p {
  margin-bottom: 0px;
}
